.row-header {
  margin: 0px auto;
  padding: 0px 0px; 
background-color:#29d7a3;
border:10px  white;
color:white;
}
nav{
  background-color:white;
  color:#29d7a3;
}
.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }

.footer {
  background-color: grey;
  color:#b3681e;
  margin: 0px auto;
  padding: 20px 0px; }

.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background:c;
  color:brown; }

address {
  font-size: 80%;
  margin: 0px;
  color:#b3681e; }

body {
  padding: 50px 0px 0px 0px;
  z-index: 0; }

.navbar-inverse {
  background-color: #29d7a3; }


.tab-content {
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  padding: 10px; }

.carousel {
  background:#29d7a3; }
  .carousel .carousel-item {
    height: 300px; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px; }

#carousel-button {
  right: 0px;
  position: absolute;
  bottom: 0px; }

#carouselButtons {
  right: 0px;
  position: absolute;
  bottom: 0px; }

.modal-header {
  background:#29d7a3;
  color: floralwhite; }
  .modal-header button {
    color: floralwhite; }

.modal-body {
  background:white; }

.modal-footer {
  background:#29d7a3; }
.row-header{
    margin:0px auto;
    padding:0px;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color:#29d7a3;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background:#29d7a3;
    color:floralwhite;
}

address{
    font-size:80%;
    margin:0px;
    color:#b3681e;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-inverse {
     background-color:#29d7a3;
}
address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}


.footer{
    background-color: #29d7a3;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}


.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background:white;
    color:#29d7a3;
}

#na{
     background-color:white;
  color:#29d7a3;
border:1px solid #29d7a3;
}

  #an{
  margin-left:670px;
  font-size:150%;
color:#29d7a3;
}

.row-header{
    margin:0px auto;
    padding:0px;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}


.tab-content {
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white ;
    padding: 10px;
}
.navbar-toggler:hover{
  border:4px inset white;
}
.navbar-nav .mr-auto:hover{
  border:5px solid #29d7a3;
}

